* {
    margin: 0;
}

/* hero section start */
.hero_section_bg_img_container {
   width: 80%;
   height: auto;
   margin: 50px auto;
}

.insert_bg {
    width: 99%;
    height: 493px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("media-images/banner-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.insert_bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first_greet_txt, .secnd_greet_text, .third_greet_text {
    color: white;
    
}
.first_greet_txt {
    font-size: 20px;
}
.secnd_greet_text, .third_greet_text   {
    font-size: 50px;
    
}
/* hero section end */

/* 50% off section start */
.dicount_section_container {
    width: 40%;
    height: auto;
    margin: auto;
    
}
.price_off {
    text-align: center;
}
.price_off p {
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    color: #F00;
    font-weight: 700;
}
.holidy_deal {
    text-align: center;
    margin-top: 13px;
}
.holidy_deal p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #F00;
}
.all_categories {
    text-align: center;
    margin-top: 8px;
}
.all_categories p {
    font-family: 'Inter', sans-serif;
    color: #070211;
    font-size: 25px;
    font-weight: 600;
    
}
.happy_new_year_img {
    margin-top: 30px;
    display: flex;
    
}
.happy_year_img_insert {
    width: 550px;
    align-items: center;
    justify-content: center;
}
/* 50% off section end */

/*welcome party section start */
.welcome_party_container {
    width: 80%;
    margin: 50px auto;
}
.welcome_party_img {
    width: 99%;
    height: 490px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url("media-images/vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.welcome_party_img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.new_year_logo img {
    width: 250px;
    height: auto;
}
.midnight_text_container p {
    font-family: 'Merriweather', serif;
    color: #FFF;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 7.04px;
}
.for_join_btn  {
    margin-top: 30px;
}
.for_join_btn button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #ff0000; 
      color: #fff;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
}
.greeting_pera {
    margin-top: 15px;
}
.greeting_pera p {
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.80);
}
/*welcome party section end */