* {
    margin: 0;
}

/* hero section start */
.hero_section_bg_img_container {

   width: 80%;
   height: auto;
   margin: 50px auto;
}

.insert_bg {
    width: 100%;
    height: 496px;
    background-color: red;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/media-images/Banner-Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.insert_bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first_greet_txt, .secnd_greet_text, .third_greet_text {
    color: white;
    
}
.first_greet_txt {
    font-size: 20px;
}
.secnd_greet_text, .third_greet_text   {
    font-size: 50px;
    
}
/* hero section end */

/* 50% off section start */
.dicount_section_container {
    width: 40%;
    height: auto;
    margin: auto;
    
}
.price_off {
    text-align: center;
}
.price_off p {
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    color: #F00;
    font-weight: 700;
}
.holidy_deal {
    text-align: center;
    margin-top: 13px;
}
.holidy_deal p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #F00;
}
.all_categories {
    text-align: center;
    margin-top: 8px;
}
.all_categories p {
    font-family: 'Inter', sans-serif;
    color: #070211;
    font-size: 25px;
    font-weight: 600;
    
}
.happy_new_year_img {
    margin-top: 30px;
    display: flex;
    
}
.happy_year_img_insert {
    width: 550px;
    align-items: center;
    justify-content: center;
}
/* 50% off section end */