* {
    margin: 0;
}

/* hero section start */
.hero_section_bg_img_container {
   width: 80%;
   height: auto;
   margin: 50px auto;
}

.insert_bg {
    width: 99%;
    height: 493px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url("media-images/banner-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.insert_bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first_greet_txt, .secnd_greet_text, .third_greet_text {
    color: white;
    
}
.first_greet_txt {
    font-size: 20px;
}
.secnd_greet_text, .third_greet_text   {
    font-size: 50px;
    
}
/* hero section end */

/* 50% off section start */
.dicount_section_container {
    width: 40%;
    height: auto;
    margin: auto;
    
}
.price_off {
    text-align: center;
}
.price_off p {
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    color: #F00;
    font-weight: 700;
}
.holidy_deal {
    text-align: center;
    margin-top: 13px;
}
.holidy_deal p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #F00;
}
.all_categories {
    text-align: center;
    margin-top: 8px;
}
.all_categories p {
    font-family: 'Inter', sans-serif;
    color: #070211;
    font-size: 25px;
    font-weight: 600;
    
}
.happy_new_year_img {
    margin-top: 30px;
    display: flex;
    
}
.happy_year_img_insert {
    width: 550px;
    align-items: center;
    justify-content: center;
}
/* 50% off section end */

/*welcome party section start */
.welcome_party_container {
    width: 80%;
    margin: 50px auto;
}
.welcome_party_img {
    width: 99%;
    height: 490px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url("media-images/vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.welcome_party_img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.new_year_logo img {
    width: 250px;
    height: auto;
}
.midnight_text_container p {
    font-family: 'Merriweather', serif;
    color: #FFF;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 7.04px;
}
.for_join_btn  {
    margin-top: 30px;
}
.for_join_btn button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #ff0000; 
      color: #fff;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
}
.greeting_pera {
    margin-top: 15px;
}
.greeting_pera p {
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.80);
}
/*welcome party section end */


/*party_location_date_section start */
.party_location_date_section {
    width: 80%;
    height: 350px;
    margin: auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 231, 231, 1), rgba(255, 231, 231, 0));
    display: flex;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.place, .time, .date span {
    font-family: 'Inter', sans-serif;
}
.place, .time, .date {
    font-weight: 600;
    line-height: 25px;
}
/*<!--party_location_date_section end--> */

/*coming_soon_section start*/
.coming_soon_section {
    margin: 50px auto;
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.coming_soon_text_wrap {
    width: 26.66%;
}
.circle_img_wrap {
    width: 26.66%;
    
}
.circle_img img {
    width: 230px;
}

.circle_img img:hover {
    transform: scale(1.2);
    transition: 0.5s;
    
}
.circle_img {
    width: 230px;
    height: 230px;
    border-radius: 50%; 
    border: 7px solid #ff0000;
    padding: 20px;
}
.thwo_thousand_tnwtfour_wrap {
    width: 26.66%;
    
}
.new_best p {
    color: red;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.coming_soon_text p {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 30px;
}
.coming_soon_dis p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.new_best, .coming_soon_text, .coming_soon_dis {
    margin-top: 5%;
}
.year_name p {
    font-family: 'Inter', sans-serif;
    color: red;
    font-size: 40px;
    font-weight: 700;
}
.about_new_year p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.year_name, .about_new_year, .new_year_brand_img {
    margin-top: 5%;
}
/*functional section start */
.functional_section_main {
    width: 80%;
    height: 200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.functional_container {
    width: 60%;
}
.function_text, .holiday_sales, .sales_discription {
    text-align: center;
    margin-top: 2%;
}
.function_text p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.holiday_sales span  {
    font-family: 'Merriweather', serif;
    
} 
.holiday_sales p {
    font-family: 'Merriweather', serif;
    
    
}
.holiday_sales span {
    color: #F00;
}
.sales_discription p {
    font-size: 15px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
}
/*functional section end */

/*discoun post banner start */
.discount_post_banner_main {
    width: 80%;
    margin: -50px auto;
    position: relative;
}
.first_area {
    display: flex;
    justify-content: end;
    
    
}
.discount_logo {
    position: absolute;
    top: 10%;
    left: 47%;
}
.red_bg_insert {
    width: 100%;
    height: 130px;
    background-image: url("media-images/rectangle-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -4px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
      
}
.first_area { /* for reuse */
    position: relative;
}
.gift_box img {
    width: 400px;
}
.gift_box {
    position: absolute;
    top: 30%;
    left: 10%;
}
/*discoun post banner end */

/*our protfolio section start*/
.our_protfolio_section_main {
    width: 80%;
    margin: 140px auto;
    height: auto;
    

}
.best_gift_text p {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.protfolio_heading p {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 900;
}
.protfolio_discription p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
}
.best_gift_text, .protfolio_heading, .protfolio_discription {
    margin-top: 1%;
}
.protfolio_category_wrap {
    margin-top: 3%;
}
.protfolio_category_container {
    display: flex;
    justify-content: space-between;
}
.protfolio_category_container_two {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
.first_img img:hover {
    transform: scale(1.2);
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 5px 10px 8px #888888;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.second_img img:hover {
    transform: scale(1.2);
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 5px 10px 8px #888888;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.third_img img:hover {
    transform: scale(1.2);
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 5px 10px 8px #888888;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.forth_img img:hover {
    transform: scale(1.2);
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 5px 10px 8px #888888;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.five_img img:hover {
    transform: scale(1.2);
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 5px 10px 8px #888888;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.sixth_img img:hover {
    transform: scale(1.2);
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 5px 10px 8px #888888;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/*our protfolio section end */

/*subscriber section start */
.subscriber_section_main {
    width: 80%;
    height: 430px;
    margin: -60px auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgba(255, 0, 0, 0.05);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.nawsletter p {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 30px;
}
.newletter_text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.searchbox_container {
    display: flex;
    width: 400px;
    margin: 20px auto;
}
.mail_logo, .nawsletter, .newletter_text, .searchbox_container {
    margin-top: 2%;
}

.search_input_area {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
}

.subscribe_btn {
    background-color: #F00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
}
/* subscriber section end */

/* footer section start */
.footer_main {
    margin-top: 8%;
    width: 100%;
    height: 330px;
    background-color: #070211;
}
.footer_container {
    width: 80%;
    margin: auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.address span {
    color: #FFF;
    font-family: 'Inter', sans-serif;
}
.phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.phone_con span{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    
}
.phone_con {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
.mail span {
    color: #FFF;
    font-family: 'Inter', sans-serif;
}

.mail {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.for_hr {
    width: 80%;
    height: 0.5px;
    margin: auto;
}
.for_hr hr {
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.15);
}
.socila_icon_main{
    padding-top: 22px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    
}
.socila_icon_main a span img {
    width: 30px;
}
.for_hr_second {
    width: 80%;
    height: 0.5px;
    margin: auto;
}
.for_hr_second hr {
    color: rgba(255, 255, 255, 0.15);
    margin-top: 17px;
} 
.all_rght p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.unsub {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.all_right_and_unsbus_main {
    padding-top: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
/* footer section end */

